body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

h3 {
    font-size: 15px;
    padding-left: 10px;
}

img {
    width: 15%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 13px;
        
    
} 

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ededed; /
}

tr:nth-child(odd) {
    background-color: #ffffff; 
}

.sub-name {
    width: 60%;
}

.sub-code {
    width: 20%;
}

input[type="text"] {
    width: 45%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

#calculateGPA {
    width: 20%;
    display: block;
    margin: 20px auto;
    padding: 10px 31px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 22px;
}

#resetBtn {
    width: 20%;
    display: block;
    margin: 20px auto;
    padding: 10px 60px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 22px;
}

#calculateGPA:hover {
    opacity: 0.8;
}

#calculateGPA:active {
    opacity: 0.6;
}

#resetBtn:hover {
    opacity: 0.8;
}

#resetBtn:active {
    opacity: 0.6;
}

#result {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .container {
        max-width: 90%; 
        margin: 10px auto;
        padding: 10px; 
    }

    th {
        font-size: 12px;
    }

    h1 {
        font-size: 17px; 
    }

    h2 {
        font-size: 14px; 
    }
    h3 {
        font-size: 10px; 
    }
    
    .sub-name {
        width: 58%;
        font-size: 12px;
    }
    
    .sub-code {
        width: 11%;
        font-size: 12px;
    }
    
    img {
        width: 30%; 
        margin-right: 8px;
    }

    input[type="text"] {
        width: 100%;
        padding: 5px;
        font-size: 12px; 
    }

    #calculateGPA,
    #resetBtn {
        width: 40%; 
        padding: 10px 0; 
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    img {
        width: 10%; 
        margin-right: 5px; 
    }

    input[type="text"] {
        width: 100%;
        font-size: 12px; 
    }
}

#back {
    font-size: 25px;
}